<mat-card class="about-page">

    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Nibh sed pulvinar proin gravida. Pellentesque dignissim enim sit amet venenatis urna cursus eget. Et tortor consequat id porta 
        nibh venenatis cras sed. Elementum curabitur vitae nunc sed. Eget felis eget nunc lobortis mattis. Nunc mi ipsum faucibus vitae 
        aliquet. Proin libero nunc consequat interdum varius sit amet. Aliquet nibh praesent tristique magna sit. Orci eu lobortis 
        elementum nibh tellus. Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Sagittis orci a scelerisque purus.
        A iaculis at erat pellentesque adipiscing commodo.

        Non blandit massa enim nec. Hendrerit gravida rutrum quisque non tellus orci ac auctor augue. Neque vitae tempus quam pellentesque 
        nec nam aliquam sem et. Tellus id interdum velit laoreet id donec ultrices tincidunt arcu. Diam phasellus vestibulum lorem sed. 
        Eget magna fermentum iaculis eu non diam phasellus vestibulum. Elit at imperdiet dui accumsan. Volutpat lacus laoreet non curabitur 
        gravida. Mauris pharetra et ultrices neque ornare aenean euismod. Sed egestas egestas fringilla phasellus. Amet purus gravida quis 
        blandit turpis cursus in. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Est ullamcorper eget nulla 
        facilisi etiam dignissim diam quis. Volutpat odio facilisis mauris sit amet massa. Vitae auctor eu augue ut lectus arcu. Tellus 
        orci ac auctor augue mauris. Posuere sollicitudin aliquam ultrices sagittis orci a. Malesuada nunc vel risus commodo viverra maecenas 
        accumsan lacus.
    </div>



</mat-card>